* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

@media (max-width: 768px) {
  body .Toastify__toast-container {
    width: calc(100% - 32px);
    max-width: 400px;
    left: 50%;
    right: auto;
    top: 20px;
    transform: translateX(-50%);
  }
}
